header{
    font-size: 60px;
    text-align: center;
}
section{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
}

section div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

button{
    display: none;
    width: 200px;
    margin: 10px auto;
    border: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
}